letter
{
display:block;
margin:1px;

}
date
{
display:block;
margin:3px;
color:red;
}
address,a1,a2,a3,greet
{
display:block;
margin-bottom:2px;
color:red;
}
content
{
display:block;
margin:5px;
color:violet;
}
list
{
display:block;
margin:3px;
}
l1
{
display:block;
color:yellow;
}
l2
{
display:block;
color:aqua;
}
l3
{
display:block;
color:blue;
}
end{
display:block;
color:purple;
margin:5px;
}
regards
{
display:block;
color:orange;
}